* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, #app, .el-tabs {
  height: 100%;
  border-bottom: none;
}

.el-tabs__header {
  margin-bottom: 0;
  height: 70px;
}

.el-tabs__content {
  padding-top: 15px;
  width: 1000px;
  margin: 0 auto;
  height: calc(100% - 70px);
}

.el-tabs__content .el-tab-pane {
  height: 100%;
}

.el-tabs__content .el-tab-pane > div {
  height: 100%;
}

.el-tabs__content .el-tab-pane > div .btn-nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.el-tabs__content .el-tab-pane > div .btn-nav-group + .sub-pane {
  height: calc(100% - 32px);
}

.waterbar .sale > .el-row {
  height: 100%;
}

.waterbar .sale .sale-list {
  height: 100%;
}

.waterbar .sale .sale-list .list-title {
  height: 30px;
  line-height: 20px;
  padding-bottom: 10px;
}

.waterbar .sale .sale-list .list-wrap {
  height: calc(100% - 30px);
  padding-bottom: 15px;
}

.waterbar .sale .sale-list .list-wrap ul {
  padding: 0;
  list-style: none;
  border-radius: 4px;
  border: 1px solid #409EFF;
  margin: 0;
  height: 100%;
}

.waterbar .sale .sale-list .list-wrap ul li {
  text-align: center;
  background-color: #fff;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  border-bottom: 1px solid #E4E7ED;
}

.waterbar .sale .sale-list .list-wrap ul li.active {
  background-color: #409EFF;
  color: #fff;
  border-bottom: none;
}

.waterbar .sale .seal-product {
  height: 100%;
  padding-bottom: 15px;
}

.waterbar .sale .seal-product .product-title {
  height: 30px;
  line-height: 20px;
  padding-bottom: 10px;
}

.waterbar .sale .seal-product .product-title .el-button {
  float: right;
  padding-bottom: 5px;
  padding-top: 5px;
}

.waterbar .sale .seal-product .product-wrap {
  border-radius: 4px;
  border: 1px solid #409EFF;
  height: calc(100% - 30px);
}

.waterbar .sale .seal-product .product-wrap .product-item {
  border: 1px solid #E4E7ED;
  height: 122px;
  font-weight: normal;
}

.waterbar .sale .seal-product .product-wrap .product-item.less-item p {
  height: 24px;
  line-height: 24px;
  margin-bottom: 0;
  display: block;
}

.waterbar .sale .seal-product .product-wrap .product-item.less-item p.pro-price {
  height: 24px;
  line-height: 24px;
}

.waterbar .sale .seal-product .product-wrap .product-item.less-item p.pro-price .pro_lesspro {
  line-height: 24px;
}

.waterbar .sale .seal-product .product-wrap .product-item h5 {
  color: #333;
  height: 62px;
  line-height: 1.4;
  font-size: 20px;
  padding: 5px 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.waterbar .sale .seal-product .product-wrap .product-item p.lack-pro {
  display: none;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.waterbar .sale .seal-product .product-wrap .product-item p.pro-price {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #f15352;
  text-align: right;
  padding: 0px 10px;
  margin: 0;
}

.waterbar .sale .seal-product .product-wrap .product-item p.pro-price .pro_lesspro {
  float: left;
  font-size: 12px;
  text-align: center;
  line-height: 48px;
}

.waterbar .sale .sale-cart {
  height: 100%;
  padding-bottom: 15px;
}

.waterbar .sale .sale-cart .cart-title {
  height: 30px;
  line-height: 20px;
  padding-bottom: 10px;
}

.waterbar .sale .sale-cart .cart-title .el-button {
  float: right;
  padding-bottom: 5px;
  padding-top: 5px;
}

.waterbar .sale .sale-cart .cart-title .el-button + .el-button {
  margin-right: 5px;
}

.waterbar .sale .sale-cart .cart-wrap {
  border-radius: 4px;
  border: 1px solid #409EFF;
  height: calc(100% - 30px);
}

.waterbar .material .material-title {
  height: 30px;
  line-height: 20px;
  padding-bottom: 10px;
}

.waterbar .material .material-table {
  height: calc(100% - 30px);
  padding-bottom: 20px;
}

.shift .shift-data {
  padding: 15px;
  height: calc(100% - 32px);
}

.shift .shift-data .shift-info {
  margin-bottom: 10px;
}

.shift .shift-data .shift-table {
  max-height: calc(100% - 120px);
  min-height: 260px;
}

.shift .shift-data .shift-table .el-form-item {
  margin-bottom: 0;
}

.shift .shift-data .shift-data-footer {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #e4e7ed;
  text-align: right;
}

.shift .shift-product {
  padding-bottom: 20px;
}
/*# sourceMappingURL=cashier.css.map */