
你不用安装，配置好 apache php 直接访问就ok，数据库我直接使用的外网

这个是模块可以访问的 url http://localhost/shopv1/web/index.php?c=site&a=entry&m=shopv1&do=shop&f=index

做了一部分门店管理，但是门店列表加载成功，却不展示，帮我处理下 

帮我处理下库房管理和商品管理

库房管理和商品管理，按照之前aida的页面处理就可以

商品管理页面，里面增加一个 简单的商品分类管理(只有商品分类名称)




#关于库房

库房属于大连锁，也就是属于公众，或者说首先属于大连锁，然后再属于门店

比如大连锁有一个总库房，里面有所有商品原料的库存。

一般呢，门店有自己的前台库房，也有自己的后台后台库房， 这个前台库房，决定了门店所售卖的商品是不是有货，如果没有货物，可以去后台库房调货，
也可以去总库房调货。连锁管理员，可以管理所有的库房和调货，既可以从总库房调货到门店库房，也可以实现门店之间的库房调货


#关于商品
商品有三种形式，成品，原料，和自制品； 成品是指一些零食可乐等，  原料是指咖啡豆，冰块，牛奶，等用来做自制品的，一般不会直接销售；自制品就是一些自制的
比如奶茶，咖啡和柠檬水之类的。成品的有自己的库存，原料也有自己的库存，自制品的库存是由所需原料决定的

大连锁商品的基本都相同，如果一些商品，某些门店不想售卖，就直接调整这些商品在门店的前台库存中的库存为0就好了。


#关于卡券

卡券类型，卡券类型分为折扣券，抵现券，和商品券
折扣券和抵现券，都可以指定为某一种商品的时候使用



#关于会员标签
create table ims_shopv1_tags(
    id int(11) auto_increment,
    memberid int(11) comment '',
    uniacid int(11) comment '',
    tag varchar(30) comment 'tag name',
    deleteflag int(11) default 0,
    primary key(id)
)engine=innodb;

#盘点表
create table ims_shopv1_stock(
    id int(11) auto_increment,
    uniacid int(11),
    createtime bigint(20) comment '盘点时间',
    userid int(11) comment '吧员',
    deleteflag int(11) default 0,
    storeid int(11) comment '库房id',
    primary key(id)
)engine=innodb;

#盘点
create table ims_shopv1_stockproduct(
    id int(11) auto_increment,
    stockid int(11) comment '盘点Id',
    productid int(11) comment '商品id',
    num int(11) comment '货架库存',
    primary key(id)
)engine=innodb;

create table ims_shopv1_product_unit(
    id int(11) auto_increment,
    unitname varchar(30) default '' comment '规格名称',
    productid int(11) comment '商品id',
    num int(11) comment '容量',
    price int(11) comment '价格',
    primary key(id)
)engine=innodb;

##后台库存管理
###批量进货 供货单位维护
###商品页面  进购规格维护 报损报溢页面


##关于吧员手机端

###下单， 选择商品，下单，选择会员价还是非会员价， 选择微信支付，支付宝 或者现金
商品选择页面，参考aida的微端下单页面就ok

###交班， 展示下这个吧员这个班次的微信收入，支付宝收入，现金收入，订单数量，售卖商品列表
本班开始时间 2019-04-16 08:00:00，当前时间 2019-04-16 22:17:00
吧员:NNN
微信收入:100元
支付宝收入:200元
现金收入:200元
提成收益:80元
备注:[]

确认交班

###订单列表，展示某个某个时间段内订单列表数据
时间起止选择[]-[]

订单id       总价   售卖商品
129238984    10元  3元饮料*2 + 4元饮料*1
。
。
。


###盘点， 判断某个库房下面，所有商品的库存， 以列表展示，货架库存是需要手动填入的

Title: 库存盘点

选择库房
商品名称  系统库存  货架库存     损溢  数量
3元饮料      60        [63]      报溢   +3
4元饮料      20        [18]      报损   -2
.
.
.
.
                  确定

进货类似


title：进货
选择库房
商品名称 系统库存  进货数量  进货价格
3元饮料    20 。    40 。   500
4元饮料 。 30 。    50 。   600

            确定


调货类似

title：调货
原库房选择   目标库房选择
商品名称  原库房数量   调货数量  目标库房数量
3元饮料     30          20         22
4元饮料     40          20         30


确定



卡券

卡券类型列表

选择卡券，选择发券，填入会员手机号，确定，即可发送

