#关于库房

库房属于大连锁，也就是属于公众，或者说首先属于大连锁，然后再属于门店

比如大连锁有一个总库房，里面有所有商品原料的库存。

一般呢，门店有自己的前台库房，也有自己的后台后台库房， 这个前台库房，决定了门店所售卖的商品是不是有货，如果没有货物，可以去后台库房调货，
也可以去总库房调货。连锁管理员，可以管理所有的库房和调货，既可以从总库房调货到门店库房，也可以实现门店之间的库房调货


#关于商品
商品有三种形式，成品，原料，和自制品； 成品是指一些零食可乐等，  原料是指咖啡豆，冰块，牛奶，等用来做自制品的，一般不会直接销售；自制品就是一些自制的
比如奶茶，咖啡和柠檬水之类的。成品的有自己的库存，原料也有自己的库存，自制品的库存是由所需原料决定的

大连锁商品的基本都相同，如果一些商品，某些门店不想售卖，就直接调整这些商品在门店的前台库存中的库存为0就好了。


#关于卡券

卡券类型，卡券类型分为折扣券，抵现券，和商品券
折扣券和抵现券，都可以指定为某一种商品的时候使用



#关于会员标签
create table ims_shopv1_tags(
    id int(11) auto_increment,
    memberid int(11) comment '',
    tag varchar(30) comment 'tag name',
    deleteflag int(11) default 0,
    primary key(id)
)engine=innodb;



