
// waterbar common
.search-group{
  margin-bottom: 10px;
  .form-inline{
    .bootstrap-select.form-control{
      width: auto;
    }
  }
  .form-group{
    label{
      margin-right: 5px;
    }
  }
}
.water-btn-group{
  margin-bottom: 10px;
  .left-group{
    float: left;
  }
  .right-group{
    float: right;
  }
}

// inventory management
.inventory{
  .product-class-modal{
    .add-class-btn{
      margin-bottom: 10px;
    }
  }
}


// card management
.card-management{
  .card-filter{
      float: left;
      margin-left: 10px;
  }
}


// card flow
.card-flow{
  .card-info{
    ul{
      padding-left: 0;
      list-style: none;
      li{
        float: left;
        margin-right: 10px;
      }
    }
  }
}