* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app,
body,
html {
  height: 100%;
}

.page-wrap {
  height: 100%;
}

.page-wrap .cube-tab-bar {
  display: none;
}

.page-wrap .cube-tab-panels,
.page-wrap .cube-tab-panels-group,
.page-wrap .cube-tab-panel {
  height: 100%;
}

.page-wrap .header {
  position: relative;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-color: #edf0f4;
  -webkit-box-shadow: 0 1px 6px #ccc;
          box-shadow: 0 1px 6px #ccc;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 5;
}

.page-wrap .header .cubeic-back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 15px;
  color: #fc9153;
}

.page-wrap .header + .container {
  height: calc(100% - 44px);
}

.page-wrap .container {
  height: 100%;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: center;
  border: 1px solid #ddd;
}

.shift {
  height: 100%;
}

.shift .shift-info {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 15px;
}

.shift .shift-info .shift-info-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 15px;
  height: 40px;
}

.shift .shift-info .shift-info-item:last-child {
  border-bottom-width: 0;
}

.shift .shift-info .shift-info-item > .info-title,
.shift .shift-info .shift-info-item > .static-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shift .product-list {
  padding-bottom: 10px;
}

.shift .product-list h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.count {
  height: 100%;
}

.count .count-table {
  font-size: .8rem;
}

.count .count-table .cube-input input {
  width: 100px;
  padding: 2px;
}

.count .cube-btn {
  padding: 10px;
}

.waterbar {
  height: 100%;
}

.waterbar .container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-y: hidden;
}

.waterbar .side-container {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 30%;
  height: 100%;
  border-right: 1px solid rgba(7, 17, 27, 0.1);
}

.waterbar .product-container {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 70%;
  height: 100%;
}

.waterbar .product-container .foods-wrapper .food-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px;
  border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}

.waterbar .product-container .foods-wrapper .food-item:last-child {
  margin-bottom: 0;
}

.waterbar .product-container .foods-wrapper .food-item .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57px;
          flex: 0 0 57px;
  margin-right: 10px;
}

.waterbar .product-container .foods-wrapper .food-item .icon > img {
  width: 57px;
  height: 57px;
}

.waterbar .product-container .foods-wrapper .food-item .food-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.waterbar .product-container .foods-wrapper .food-item .food-content .name {
  margin: 2px 0 8px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #07111b;
}

.waterbar .product-container .foods-wrapper .food-item .food-content .description,
.waterbar .product-container .foods-wrapper .food-item .food-content .extra {
  line-height: 10px;
  font-size: 10px;
  color: #93999f;
}

.waterbar .product-container .foods-wrapper .food-item .food-content .description {
  line-height: 12px;
  margin-bottom: 8px;
}

.waterbar .product-container .foods-wrapper .food-item .food-content .extra .count {
  margin-right: 12px;
}

.waterbar .product-container .foods-wrapper .food-item .food-content .price {
  font-weight: 700;
  line-height: 24px;
}

.waterbar .product-container .foods-wrapper .food-item .food-content .price .now {
  margin-right: 8px;
  font-size: 14px;
  color: #f01414;
}

.waterbar .product-container .foods-wrapper .food-item .food-content .price .old {
  text-decoration: line-through;
  font-size: 10px;
  color: #93999f;
}

.waterbar .product-container .foods-wrapper .food-item .food-content .cartcontrol-wrapper {
  position: absolute;
  right: 0;
  bottom: 12px;
}

.waterbar .food-submit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
  background-color: #fcfcfc;
}

.waterbar .food-submit > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.waterbar .food-submit .price {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.waterbar .cube-popup {
  position: absolute;
}

.waterbar .cart-wrap {
  background-color: #fff;
  padding-bottom: 45px;
}

.waterbar .cart-wrap .cart-header {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
}

.waterbar .cart-wrap .cart-header .cube-btn:after {
  border-width: 0;
}

.waterbar .cart-wrap .cart-content {
  height: 14rem;
}

.waterbar .cart-wrap .cart-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

.waterbar .cart-wrap .cart-content ul > div {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.waterbar .cart-wrap .cart-content ul .pro-title {
  width: 55%;
}

.waterbar .cart-wrap .cart-content ul .pro-price {
  width: 20%;
}

.waterbar .cart-wrap .cart-content ul .pro-num {
  width: 25%;
}
/*# sourceMappingURL=mobile.css.map */