// common
* {
  box-sizing: border-box;
}

#app,
body,
html {
  height: 100%;
}

.page-wrap {
  height: 100%;

  .cube-tab-bar {
    display: none;
  }

  .cube-tab-panels,
  .cube-tab-panels-group,
  .cube-tab-panel {
    height: 100%;
  }

  &.user-page{
    .cube-tab-panels{
      height: calc(100% - 50px);
    }
    .cube-tab-bar{
      display: flex;
      height: 50px;
    }

  }

  .header {
    position: relative;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #edf0f4;
    box-shadow: 0 1px 6px #ccc;
    backface-visibility: hidden;
    z-index: 5;

    .cubeic-back {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 15px;
      color: #fc9153;
    }

    +.container {
      height: calc(100% - 44px);
    }
  }

  .container {
    height: 100%;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    > .cube-popup{
      position: absolute;
    }
  }
}


.horizontal-scroll-list-wrap {
  .cube-scroll-content {
    display: inline-block;
  }

  .list-wrapper {
    padding: 0 10px;
    white-space: nowrap;
  }

  .list-item {
    display: inline-block;
  }
}


// table
.table {
  width: 100%;
  margin-bottom: 20px;

  >thead>tr>th,
  >tbody>tr>th,
  >thead>tr>td,
  >tbody>tr>td {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: 1px solid #ddd;
  }
}

// popup
.my-popup-wrap{
  background-color: #fff;
  .my-popup-header{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    .cube-btn:after{
      border-width: 0;
    }
  }
  .my-popup-content{
    height: 14rem;
  }
}

// common end

// index
.index{
  .container{
    padding: 0;
  }
  .qrcode{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .func-btn{
    &:after{
      content: "";
      clear: both;
    }
    .func-btn-item{
      width: 33.3333%;
      float: left;
      height: 6rem;
      padding: .5rem;
      .func-btn-inner{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4ed5c7;
        color: #fff;
      }
    }
  }
}


// shift
.shift {
  height: 100%;

  .shift-info {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin-bottom: 15px;

    .shift-info-item {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding: 0 15px;
      height: 40px;

      &:last-child {
        border-bottom-width: 0;
      }

      >.info-title,
      >.static-text {
        display: flex;

        align-items: center;
      }
    }
  }

  .product-list {
    padding-bottom: 10px;

    h5 {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .product-list-table {}
  }
}


// count
.count {
  height: 100%;
  .cube-select{
    width: 50%;
    margin-bottom: 15px;
    display: inline-block;
  }
  .count-table {
    font-size: .8rem;

    .cube-input {
      input {
        width: 100px;
        padding: 2px;
      }
    }
  }

  .cube-btn {
    padding: 10px;
  }
}


// waterbar
.waterbar {
  height: 100%;

  .container {
    padding: 0;
    display: flex;
    position: relative;
    overflow-y: hidden;
  }

  .side-container {
    flex: none;
    width: 30%;
    height: 100%;
    border-right: 1px solid rgba(7, 17, 27, 0.1);
  }

  .product-container {
    flex: none;
    width: 70%;
    height: 100%;

    .foods-wrapper {
      .food-item {
        display: flex;
        padding: 18px;
        border-bottom: 1px solid rgba(7, 17, 27, .1);

        &:last-child {
          margin-bottom: 0
        }

        .icon {
          flex: 0 0 57px;

          margin-right: 10px;
          >img {
            width: 57px;
            height: 57px;
          }
        }

        .food-content {
          flex: 1;

          .name {
            margin: 2px 0 8px;
            height: 14px;
            line-height: 14px;
            font-size: 14px;
            color: #07111b;
          }

          .description,
          .extra {
            line-height: 10px;
            font-size: 10px;
            color: #93999f
          }

          .description {
            line-height: 12px;
            margin-bottom: 8px
          }

          .extra .count {
            margin-right: 12px;
          }

          .price {
            font-weight: 700;
            line-height: 24px;

            .now {
              margin-right: 8px;
              font-size: 14px;
              color: #f01414
            }

            .old {
              text-decoration: line-through;
              font-size: 10px;
              color: #93999f
            }
          }

          .cartcontrol-wrapper {
            position: absolute;
            right: 0;
            bottom: 12px
          }
        }
      }
    }
  }
  .food-submit{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;

    display: flex;
    height: 44px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0,0,0,.24);
    background-color: #fcfcfc;
    >div{
      flex: 1;
      display: flex;
      align-items: center;
    }
    .price{
      flex: 2
    }
  }
  .cube-popup{
    position: absolute;
  }
  .cart-wrap{
    background-color: #fff;
    padding-bottom: 45px;
    .cart-header{
      background-color: lightgray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 15px;
      .cube-btn:after{
        border-width: 0;
      }
    }
    .cart-content{
      height: 14rem;
      ul{
        li{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 15px;
        }
        >div{
          flex: none;
        }
        .pro-title{
          width: 55%;
        }
        .pro-price{
          width: 20%;
        }
        .pro-num{
          width: 25%;
        }
      }
    }
    .scan-code{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


// card
.card{
  height: 100%;
  .container {
    position: relative;
    overflow-y: hidden;
  }
  .cube-popup{
    position: absolute;
    
    .scan-code{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


// order
.order{
  height: 100%;
  .container {
    position: relative;
    overflow-y: hidden;
    .horizontal-scroll-list-wrap{
      overflow-y: auto;
    }
  }
  .cube-popup{
    position: absolute;
    ul{
      li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
      }
      >div{
        flex: none;
      }
      .pro-title{
        width: 55%;
      }
      .pro-price{
        width: 20%;
        text-align: center;
      }
      .pro-num{
        width: 25%;
        text-align: center;
      }
    }
  }
  .table{
  }
}